  <div class="white">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center green-text text-accent-4 thin">Green Changes</h1>
        <div class="center">
          <%= image_tag "logo", class: "responsive-img" %>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <p class="grey-text text-light">
                We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
                Additionally, we refined animations and transitions to provide a smoother experience for developers.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <p class="grey-text text-light">
                By utilizing elements and principles of Material Design, we were able to create a framework that incorporates
                 components and animations that provide more feedback to users. Additionally, a single underlying responsive system
                 across all platforms allow for a more unified user experience.
               </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <p class="grey-text text-light">We have provided detailed documentation as well as specific code examples to help new
                users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <footer class="page-footer white">
    <div class="container">
      <div class="row center">
        <div class="col s3">
          <a href="" class='fa fa-icon fa-3x fa-envelope transparent green-text text-accent-4'></a>
        </div>
        <div class="col s3">
          <a href="" class='fa fa-icon fa-3x fa-facebook transparent green-text text-accent-4'></a>
        </div>
        <div class="col s3">
          <a href="" class='fa fa-icon fa-3x fa-twitter transparent green-text text-accent-4'></a>
        </div>
        <div class="col s3">
          <a href="" class='fa fa-icon fa-3x fa-instagram transparent green-text text-accent-4'></a>
        </div>
      </div>
      <br>
    </div>
  </footer>
